:root {
  --background: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
